.navbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: transparent;
    border-color: white;
    color: white;
    font-weight: bold;
}
