.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
}

.dimmer {
  flex: 1;
  background-color: #f2f2f2;
  filter: brightness(55%); 
  transition: filter 0.8s ease;
}

.dimmer:hover {
  filter: brightness(100%);
  transition: filter 0.8s ease;
}

.student-side {
  left: 0;
  transition: transform 1s ease;
}
.student-side:hover{
  transform: scale(1.1);
  z-index: 2;
  transition: transform 1s ease;
}

.musician-side {
  right: 0;
  transition: transform 1s ease;
  z-index: 1;
}

.musician-side:hover{
  transform: scale(1.1);
  z-index: 2;
  transition: transform 1s ease;
}

.student-side img, .musician-side img {
  width: 100%;
  height: 100vh;
  object-fit: cover; 
}

.student-side .navigation, .musician-side .navigation {
  position: absolute;
  top: 93%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.name-title {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  z-index: 2; 
  text-align: center;
}


a {
  color: inherit; 
  text-decoration: inherit;
}



