/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Control the left side */
.student-side {
  left: 0;
}

/* Control the right side */
.musician-side {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ensure the image covers the entire container */
}

